

.wave:before {
  content: "";
  transform: rotate(90deg);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 46.45%, 2.86% 44.41%, 5.71% 42.06%, 8.57% 39.51%, 11.43% 36.92%, 14.29% 34.41%, 17.14% 32.13%, 20.00% 30.20%, 22.86% 28.72%, 25.71% 27.77%, 28.57% 27.41%, 31.43% 27.66%, 34.29% 28.49%, 37.14% 29.87%, 40.00% 31.73%, 42.86% 33.95%, 45.71% 36.42%, 48.57% 39.01%, 51.43% 41.58%, 54.29% 43.98%, 57.14% 46.09%, 60.00% 47.79%, 62.86% 48.99%, 65.71% 49.62%, 68.57% 49.66%, 71.43% 49.09%, 74.29% 47.95%, 77.14% 46.31%, 80.00% 44.24%, 82.86% 41.87%, 85.71% 39.31%, 88.57% 36.72%, 91.43% 34.23%, 94.29% 31.97%, 97.14% 30.07%, 100.00% 28.63%);
  position: absolute;
  right: 10%;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #80b1b7;
  height: 100%;
}
